canvas {
    border: 2px solid black;
    display: block;
    margin: auto;
    background-color: black;
    background-image: url(../images/mario-background.jpg);
    background-size: 100%;
}

h1 {
    font-family: 'Arbutus', cursive;
    text-align: center;
    font-size: 80px;
    margin: 2% auto;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 13, 15, 1);
    /* display: none; */
}

#modalContent {
    margin: 11vh 31vw;
    height: 400px;
}

button {
    position: absolute;
    margin-left: 10vw;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
}

button img {
    width: 280px;
    height: 50px;
}